body,h1 {
    background-color: #fffdf6;
    font-family: "Times New Roman";
    color: #494949;
	margin: 0px;
    margin-bottom:0px; 
}
ul,li{
    list-style: none;
    padding: 0%;
}
#all{
    padding-left: 2%;
    padding-right: 2%;
}
button{
    display: none;
}
.new{
    display: inline;
    margin-left: 10px;
    position: relative;top: 15px;filter: contrast(40%);
}

h2,h3,h5{
    margin:0px;
}
h3,h5{
    display: inline;
}
h5{
    float: right;    
    padding-top: 5px;
    overflow: hidden;
}

.closes{
    float: right;
}
#closes1,#closes2,#closes3{
    float: right;
}
.SP{
    width: 100%;
  
    margin-top: 40px;
}
.SPtemperature {
    width: 100%;

}
.SPoterinfo{
    width: 100%;
}
/* .SPtemperature {
    width: 500px;
   
} */
.img1{
    width: 30%;
    height: 30%;
}
/*.addsom{
    display: flex;
    justify-content:space-between;
    margin-top: 40px;
}*/
form{
    height: 15px;
    width: 75%;
}

.find{
    /*width: 200px;*/
    display: flex;
    justify-content:space-between;
}
.MStemperature>h2{
    display: inline;
   
}
/* #MB{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
} */
.BJtemperature>h2{
    display: inline;
}
.BJtemperature{
    display: flex;
    justify-content: space-between;
}
.wind{
    text-align: justify;
    height: 30px;
    width: 100%;
    background-color: #ece8d9;
    margin-bottom: 10px;
}
.cloudy{
    height: 30px;
    width: 100%;
    background-color: #ece8d9;
    margin-bottom: 10px;
}
.pressure{
    height: 30px;
    width: 100%;
    background-color: #ece8d9;
    margin-bottom: 10px;
}
.humidity{
    height: 30px;
    width: 100%;
    background-color: #ece8d9;
    margin-bottom: 10px;
}
.coordinates{
    height: 30px;
    width: 100%;
    background-color: #ece8d9;
    margin-bottom: 10px;
}
#other-cities{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
#allinfor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
@media screen and (max-width: 650px){
    .city{
        width: 100%;
    }
}

span{
    font-weight: 800;
}
ul{
    display:block;
}
li{
    height: 30px;
    width: 100%;
    background-color: #ece8d9;
    margin-bottom: 10px;
    
}

li:first-child{
    display: flex;
    justify-content: space-between;
}